SAMPLE_RATE      =  16000

FLAG_FEAT_TYPE   =  1         

FLAG_GAIN_NORM   =  1
FLAG_AXIS        =  2
LP_TYPE		 =  1
FLAG_WIENER	 =  0

FLAG_FULLSIGLEN	 =  1
FDLPLEN 	 =  1
MODEL_ORDER	 =  120

TEMP_CEPS	 =  14
FLAG_ADAPT	 =  1

FLAG_C0		 =  1
SPEC_CEPS	 =  13
SPEC_FR_LEN	 =  25
SPEC_FR_SHIFT    =  10
FLAG_DELTA       =  1

DCT_LOW 	 =  0
DCT_HIGH	 =  4000
MEL_WARP	 =  0
SKIP_BANDS	 =  0
